@font-face {
  font-display: fallback;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/WorkSans-ExtraLight.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Work Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/WorkSans-Bold.ttf");
}

html {
  height: 100%;
}

body {
  background: #f5f5f5;
  color: #20292c;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  min-height: 100%;
}

/**
 * Colors for reference

  #014a73 (primary dark blue)
  #66a1c3 (primary light blue)
  #ffffff (white)
  #001d2e (very dark)
  #28404e (very dark blue)
  #666666 (grey)
  #014a73 (medium dark blue)
  #80a5b9 (light "dark" blue)
  #b3d0e1 (light "light" blue)
*/

h1 {
  font-size: 2em;
  font-weight: 200;
  margin: 20px 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 1em 0 0.5em 0;
  padding-bottom: 8px;
}

h2.blue {
  border-bottom: 1px solid #014a73;
}
h2.ltblue {
  border-bottom: 1px solid #66a1c3;
}
h2.white {
  border-bottom: 1px solid #ffffff;
}
h2.grey {
  border-bottom: 1px solid #666666;
}

h3 {
  font-size: 28px;
  font-weight: normal;
}

h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p,
li {
  line-height: 1.7em;
}

p a,
li a {
  color: #78a1bb;
  text-decoration: none;
  border-bottom: 1px solid #50abac;
}

p a:visited,
li a {
  color: #494e91;
  border-bottom: 1px solid currentColor;
}

img.block {
  display: block;
}

/*
 * Page header
 * (for top nav, see above)
 */

header {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
  position: relative;
}

header h1,
header .subhead {
  margin: 0;
}

header .subhead {
  font-size: 1.75em;
}

/*
 * Blocks/sections
 */

section {
  background: #ffffff;
}

.split {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0;
}

.split.right {
  flex-direction: column-reverse;
}

.split > * {
  flex: 1;
  /* See https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size */
  min-height: 0;
  min-width: 0;
}

.split h1 {
  font-size: 28px;
  margin: 0;
}

.fill {
  height: 100%;
  position: absolute;
  width: 100%;
}

.block {
  position: relative;
}

.block.ltblue {
  background: linear-gradient(45deg, #66a1c3, #b3d0e1);
  color: white;
}

.block.blue {
  background: linear-gradient(45deg, #014a73, #80a5b9);
  color: white;
}

.block.grey {
  background: linear-gradient(45deg, #666666, #757575);
  color: white;
}

section,
.padded {
  box-sizing: border-box;
  padding: 30px 20px;
}
section > :first-child,
.padded > :first-child {
  margin-top: 0;
}
section > :last-child,
.padded > :last-child {
  margin-bottom: 0;
}

.illustrationContainer {
  background: #dedede;
}

.illustration {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}


/*
 * Tweet button
 */

.tweetButton {
  align-items: center;
  background-color: #1b95e0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  margin: 1em 0;
  padding: 5px 10px;
  text-decoration: none;
}

.tweetButton svg {
  height: 16px;
  margin-right: 5px;
}

@media (min-width: 800px) {
  /* Desktop CSS */

  body {
    margin: 0 auto;
    max-width: 1120px;
  }


  /* Common page elements */

  h1 {
    font-size: 2.4em;
  }

  .split {
    flex-direction: row;
  }

  .split.right {
    flex-direction: inherit;
  }

  .split h1 {
    font-size: 45px;
  }

  section,
  .padded {
    padding: 45px 72px;
  }
}

/*
*
* About stuff
*
*/
.person {
  margin: 2em 0;
}

.photoContainer {
  align-self: flex-start;
  float: left;
  height: 25%;
  margin: 0 1em 1em 0;
  width: 25%;
}

.photo {
  display: block;
  height: 100%;
  width: 100%;
}

.name {
  font-size: 24px;
}

.social {
  margin-top: 6px;
}
.social a {
  display: inline-block; /* Stupid Edge/IE */
  text-decoration: none;
}
.social a + a {
  margin-left: 6px;
}

.social svg {
  height: 15px;
}

.bio {
  clear: left;
  margin-top: 1em;
}

/* Desktop */
@media screen and (min-width: 800px) {
  .person {
    display: flex;
    flex-direction: row;
    margin: 4em 0;
  }

  .photoContainer {
    float: none;
    height: 100%;
    margin-right: 2em;
  }

  .detailsAndBio {
    flex: 1;
  }

  .details {
    display: flex;
  }

  .nameAndTitle {
    flex: 1;
  }

  .social {
    margin-top: 0;
  }
  .social svg {
    height: 19px;
  }
}

