/* Desktop CSS */

.desktopOnly {
  display: inherit !important;
}

.mobileOnly {
  display: none;
}

body {
  margin: 0 auto;
  max-width: 1120px;
}


/* Common page elements */

h1 {
  font-size: 2.4em;
}

pre {
  padding-left: 40px;
}

#header {
  background: initial;
  border: none;
  padding: 40px 0;
  position: static;
  top: initial;
  z-index: initial;
}

#headerLogo {
  width: 150px;
}

header h1 {
  padding: 30px 72px;
}

header .subhead {
  font-size: 48px;
}

#footerNavigation {
  flex-direction: row;
}

#footerNavigation > :last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.split {
  flex-direction: row;
}

.split.right {
  flex-direction: inherit;
}

.split h1 {
  font-size: 45px;
}

section,
.padded {
  padding: 45px 72px;
}

.pullQuote {
  font-size: 24px;
}

.bannertext {
  font-size: 24px;
  font-weight: normal;
  margin: 1em 0 0.5em 0;
  padding-bottom: 8px;
}

.video-iframe {
  width: 560px;
  height: 315px;
}