@font-face {
  font-display: fallback;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/WorkSans-ExtraLight.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Work Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/WorkSans-Bold.ttf");
}

html {
  height: 100%;
}

body {
  background: #f5f5f5;
  color: #20292c;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  min-height: 100%;
}

/**
 * Colors for reference

  #014a73 (primary dark blue)
  #66a1c3 (primary light blue)
  #ffffff (white)
  #001d2e (very dark)
  #28404e (very dark blue)
  #666666 (grey)
  #014a73 (medium dark blue)
  #80a5b9 (light "dark" blue)
  #b3d0e1 (light "light" blue)
*/

h1 {
  font-size: 2em;
  font-weight: 200;
  margin: 20px 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 1em 0 0.5em 0;
  padding-bottom: 8px;
}

h2.blue {
  border-bottom: 1px solid #014a73;
}
h2.ltblue {
  border-bottom: 1px solid #66a1c3;
}
h2.white {
  border-bottom: 1px solid #ffffff;
}
h2.grey {
  border-bottom: 1px solid #666666;
}

h3 {
  font-size: 28px;
  font-weight: normal;
}

h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p,
li {
  line-height: 1.7em;
}

p a,
li a {
  color: #78a1bb;
  text-decoration: none;
  border-bottom: 1px solid #50abac;
}

p a:visited,
li a {
  color: #494e91;
  border-bottom: 1px solid currentColor;
}

img.block {
  display: block;
}

/*
 * Page header
 * (for top nav, see above)
 */

header {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
  position: relative;
}

header h1,
header .subhead {
  margin: 0;
}

header .subhead {
  font-size: 1.75em;
}

/*
 * Blocks/sections
 */

section {
  background: #fbfbff;
}

.split {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0;
}

.split.right {
  flex-direction: column-reverse;
}

.split > * {
  flex: 1;
  /* See https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size */
  min-height: 0;
  min-width: 0;
}

.split h1 {
  font-size: 28px;
  margin: 0;
}

.fill {
  height: 100%;
  position: absolute;
  width: 100%;
}

.block {
  position: relative;
}

.block.aqua {
  background: linear-gradient(45deg, #5cbdb9, #59b7b5);
  color: white;
}

.block.gray {
  background: #20292c;
  color: #f5f5f5;
}

.block.orange {
  background: linear-gradient(45deg, #df8001, #dd7205);
  color: white;
}

.block.purple {
  background: linear-gradient(45deg, #595e93, #3f448b);
  color: white;
}

.block.navy {
  background: linear-gradient(45deg, #0f1626, #0f1626);
  color: white;
}

.block.leather {
  background: linear-gradient(45deg, #ab987a, #ab987a);
  color: white;
}

.block.coral {
  background: linear-gradient(45deg, #ff533d, #ff533d);
  color: white;
}

.block.softblue {
  background: linear-gradient(45deg, #78a1bb, #78a1bb);
  color: white;
}

.block.eggshell {
  background: linear-gradient(45deg, #f5f5f5, #f5f5f5);
  color: #20292c;
}

.block.green {
  background: linear-gradient(45deg, #20bf55, #20bf55);
  color: white;
}

.block.ltblue {
  background: linear-gradient(45deg, #66a1c3, #b3d0e1);
  color: white;
}

.block.blue {
  background: linear-gradient(45deg, #014a73, #80a5b9);
  color: white;
}

.block.grey {
  background: linear-gradient(45deg, #666666, #757575);
  color: white;
}

section,
.padded {
  box-sizing: border-box;
  padding: 30px 20px;
}
section > :first-child,
.padded > :first-child {
  margin-top: 0;
}
section > :last-child,
.padded > :last-child {
  margin-bottom: 0;
}

.block.gray a,
.block.grayOnDesktop a {
  color: #50abac;
}
.block.gray a:visited,
.block.grayOnDesktop a:visited {
  color: #a0a3cf;
}

.block.aqua a,
.block.orange a,
.block.purple a {
  border-color: white;
  color: white;
}

.mesh {
  background-size: 224px 129px;
  opacity: 0.1;
}

.meshOverlay {
  position: relative;
}
.block.aqua .meshOverlay.gradient {
  background: linear-gradient(135deg, rgba(80, 171, 172, 1) 15%, rgba(80, 171, 172, 0) 75%);
}
.block.gray .meshOverlay.gradient {
  background: linear-gradient(135deg, rgba(67, 75, 78, 1) 15%, rgba(67, 75, 78, 0) 75%);
}

.text.aqua {
  color: #97f1ed;
}
.text.orange {
  color: #ff8800;
}
.text.purple {
  color: #a0a3cf;
}
.text.coral {
  color: #ff533d;
}
.text.leather {
  color: #ab987a;
}
.text.navy {
  color: #0f1626;
}
.text.softblue {
  color: #78a1bb;
}

.illustrationContainer {
  background: #dedede;
}

.illustration {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}


/*
 * Tweet button
 */

.tweetButton {
  align-items: center;
  background-color: #1b95e0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  margin: 1em 0;
  padding: 5px 10px;
  text-decoration: none;
}

.tweetButton svg {
  height: 16px;
  margin-right: 5px;
}

@media (min-width: 800px) {
  /* Desktop CSS */

  body {
    margin: 0 auto;
    max-width: 1120px;
  }


  /* Common page elements */

  h1 {
    font-size: 2.4em;
  }

  .split {
    flex-direction: row;
  }

  .split.right {
    flex-direction: inherit;
  }

  .split h1 {
    font-size: 45px;
  }

  section,
  .padded {
    padding: 45px 72px;
  }
}
